._.git
._PlottingFunctions.py
._.gitignore
PlateLayout_Templates/._Layout_96.xlsx
PlateLayout_Templates/._Layout_384.xlsx
PlateLayout_Templates/._PlateSetup_BARCODE_TEMPLATE96.xlsx
.gitignore
._PlateLayout_Templates
